body
{
	margin: 0;
	padding: 0;
	
}

.container1
{
	width: 1170px;
	height: 5000px;
	background-color: aqua;
	margin: 0 auto;
	
}
.header
{
	width: 1170px;
	height: 700px;
	background: url(../images/header_01.jpg);
	
}
.banner
{
	width: 1170px;
	height: 52px;
	background-color: black;
	opacity: 0.5;
}
.logo
{
	width: 370px;
	height: 52px;
	background: url(../images/logo.png);
	float: left;

	
}
ul
{	
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	
}
ul li
{
	float: left;
	padding: 13px;


}
ul li:hover
{	
	border-top: 5px blue solid;
	
}
ul li a
{	
	font-size: 15px;
	text-decoration: none;
	color: white;
	
}

	
.menu
{	width: 800px;
	height: 52px;
	float: right;

}



.part1
{
	width: 1170px;
	height: 435px;
	background-color: #EFEFEF ;
		
}
.features
{		
	width: 1170px;
	height: 185px;
	background: url(../images/text_01.jpg)
}

.meet
{
	width: 1170px;
	height: 185px;

}
.middle
{
	width: 1170px;
	height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.middle_a
{
	width: 350px;
	height: 250px;
	
	float: left;
	margin: 10px;
}
.middle_a1
{
	width: 60px;
	height: 250px;
	background: url(../images/icon1.png) no-repeat;
	float: left;
	
}.middle_a3
{
	width: 60px;
	height: 250px;
	background: url(../images/icon2.png) no-repeat;
	float: left;
	
}.middle_a4
{
	width: 60px;
	height: 250px;
	background: url(../images/icon3.png) no-repeat;
	float: left;
	
}
.middle_a2
{
	width: 290px;
	height: 250px;
	letter-spacing: 1px;
	float: right;
	font-size: 12px;
	
}





.content
{
	width: 1170px;
	height: 815px;
	background:url(../images/content_02.jpg);
	
}
.middle4{
	
  text-align: center;
 padding: 70px ;
  
	
}
.left
{
	width: 425px;
	height: 540px;
	float: left;
}
.left_a
{
	width: 425px;
	height: 170px;
}
.left_a1
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/left1.jpg) no-repeat;
	
}
.left_a2
{
	width: 350px;
	height: 170px;
	float: right;
	font-size: 12px;
}
.left_a3
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/left2.jpg) no-repeat;
	
}.left_a4
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/left3.jpg) no-repeat;
	
}
.right
{
	width: 425px;
	height: 540px;
	float: right;
}
.right_a
{
	width: 425px;
	height: 170px;
}
.right_a1
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/right1.jpg) no-repeat;
	
}
.right_a2
{
	width: 350px;
	height: 170px;
	float: right;
	font-size: 12px;
}
.right_a3
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/right2.jpg) no-repeat;
	
}
.right_a4
{
	width: 75px;
	height: 170px;
	float: left;
	background: url(../images/right3.jpg) no-repeat;
	
}
right:hover
{
	background-color: antiquewhite;
}
.part2
{
	width: 1170px;
	height: 385px;
	background-color: white;
}
.tex
{
	width: 1170px;
	height: 285px;
	background: url(../images/text_02_04.jpg);
}
.tex1
{	
	width: 1170px;
	height: 100px;
	
	
	
	
}
ul1
{	
	float: center;
	list-style: none;
	padding-left: 400px;

	
}
ul1 li1
{
	float: center;
	padding: 13px;


}
ul1 li1:hover
{	
	background-color: #4C76FF;
	
	
}
ul1 li1 a1
{	
	font-size: 15px;
	text-decoration: none;
	
	
}
.photo1
{
	width: 1170px;
	height: 220px;
	display: flex;
}
.photo2
{
	width: 1170px;
	height: 220px;
	display: flex;
}


.pic1
{	
	position: relative;
	width: 292.5px;
	height: 220px;
	background: url(../images/pic1.jpg);
	
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 220px;
  width: 292.5px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;

	
  
}


.pic1:hover .overlay,.pic2:hover .overlay,.pic3:hover .overlay,.pic4:hover .overlay,.pic5:hover .overlay,.pic6:hover .overlay,.pic7:hover .overlay,.pic8:hover .overlay{
	opacity: 1;
	
}
.pic2
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic2.jpg);
	
}

.pic3
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic3.jpg);
	
}

.pic4
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic4.jpg);
	
}.pic5
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic5.jpg);
	
}
.pic6
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic6.jpg);
	
}
.pic7
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic7.jpg);
	
}
.pic8
{
	width: 292.5px;
	height: 220px;
	background: url(../images/pic8.jpg);
	
}



.team
{
	width: 1170px;
	height: 770px;
	background-color: blueviolet;
	
}
.meet
{
	width: 1170px;
	height: 310px;
	background: url(../images/text_03.jpg)
	
	
}
.mem
{	
	width: 1170px;
	height: 460px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.mem_a
{
	width: 225px;
	height: 250px;
	margin: 10px;
	float: left;
}

.mem_1
{
	width: 225px;
	height: 250px;
	background: url(../images/mem1.jpg);	
}
.mem_2
{
	width: 225px;
	height: 250px;
	background: url(../images/mem2.jpg);	
}
.mem_3
{
	width: 225px;
	height: 250px;
	background: url(../images/mem3.jpg);	
}
.mem_4
{
	width: 225px;
	height: 250px;
	background: url(../images/mem4.jpg);	
}
.overlay_1
{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 225px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.mem_1:hover .overlay_1,.mem_2:hover .overlay_1,.mem_3:hover .overlay_1,.mem_4:hover .overlay_1{
	opacity: 1;
	
}
.text_1{
	padding: 20px;
	text-align:center;
	font-size: 12px;
}

.part3
{
	width: 1170px;
	height: 450px;
	background: url(../images/codepen_02.jpg);
	
}
.p1{
	width: 1170px;
	height: 120px;
	background: url(../images/p1.jpg)
}
.ic
{
	width: 1170px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.ic_a
{

	width: 140px;
	height: 130px;
	margin: 80px;

}

.ic_1
{
	width: 140px;
	height: 130px;
	background: url(../images/ic1.png);	
}.ic_2
{
	width: 140px;
	height: 130px;
	background: url(../images/ic2.png) ;	
}.ic_3
{
	width: 140px;
	height: 130px;
	background: url(../images/ic3.png) ;	
}.ic_4
{
	width: 140px;
	height: 130px;
	background: url(../images/ic4.png) ;	
}

.part4
{
	width: 1170px;
	height: 575px;
	background-color: white;
}
.p4{
	width: 1170px;
	height: 275px;
	background:url(../images/text_05.jpg);
	
}
.form
{
	width: 1170px;
	height: 300px;
	
}
.f1
{
	width: 335px;
	height: 300px;
	float:left; 
	font-size: 15px;
	
}
.f2
{
	width: 675px;
	height: 300px;
	float: left;
}
.f3
{
	width: 160px;
	height: 300px;
	float:right;
	background: url(../images/sarajevo_10.jpg)
}

.map
{
	width: 1170px;
	height: 180px;
	background: url(../images/map.jpg);
}
.footer
{
	width: 1170px;
	height: 250px;
	background-color: #062033 ;
	
}
.footer1
{
	width: 420px;
	height: 250px;
	float: left;
	
	
}

.logof1{
	height: 160px;
	width: 420px;
	text-align:inherit;
	color: white;
	font-size: 12px;
	letter-spacing: 3px;
	padding-left: 162px;

}
.logof{
	height: 90px;
	width: 420px;
	background: url(../images/logof.jpg);
}
.footer2{
	width: 345px;
	height: 250px;
	float: left;
	color: white;
	padding-left: 72px;
	font-size: 14px;
	letter-spacing: 3px;


	
}

.border{
	width: 250px;
	height: 40px;
	border-style:solid;
	border-color: white;
	border-width:thin;
	border-radius: 1px;
}
.footer3
{
	width: 405px;
	height: 250px;
	float: right;
	color: white;
	padding-left: 62px;
	font-size: 14px;

}
h6{
	font-size: 20px;
}